:host {
  display: block;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  table {
    background: none;
    border: none;
    border-radius: 0;
    border-collapse: collapse;
    width: 100%;
    th,
    td {
      background: none;
      border: none;
      text-align: left;
    }

    th {
      border-bottom: solid 0.55px;
      border-color: rgba(from var(--stone-4) r g b / 0.3);

      padding-top: var(--size-2);
      padding-bottom: var(--size-2);
      padding-left: var(--size-3);
      padding-right: var(--size-3);
    }

    td {
      white-space: nowrap;
      padding-top: var(--size-2);
      padding-bottom: var(--size-2);
      padding-left: var(--size-3);
      padding-right: var(--size-3);
    }
  }


  .img-wrapper {
    width: 2.5rem;
    height: 2.5rem;

    img {
      object-fit: cover;
    }
  }

  .cell {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  .align-right {
    text-align: right;
  }
}
