:host {
  .playlist-page {
    display: flex;
    flex-direction: column;

    .hero {
      display: flex;
      gap: var(--size-7);
      flex-direction: column;
      align-items: center;
      padding-left: var(--size-5);
      padding-right: var(--size-5);


      .img-wrapper {
        width: 13rem;
        aspect-ratio: 1;
        box-shadow: var(--shadow-3);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .playlist-details {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
          font-size: clamp(20px,6vw,70px);
          font-weight: bold;
          line-height: 1;
        }
        .playlist-notes {
          font-size: var(--size-3);
        }
      }
    }


  @media (min-width: 768px) {
    .hero {
      flex-direction: row;
      align-items: stretch;
    }
  }


    .button-group {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }

    .playlist-content {
      padding: 1.5rem;
      flex: 1 1 0%;
      margin-top: 1.5rem;
      background: rgba(from var(--gray-10) r g b / 0.3);
    }

    .backdrop {
      position: absolute;
      height: 100vh;
      z-index: -1;
      inset: 0;

      --gradient-from: var(--context-color);
      --gradient-to: rgb(255 255 255 / 0);
      --gradient-stops: var(--gradient-from), var(--gradient-to);

      background-image: linear-gradient(to bottom, var(--gradient-stops));

      img {
        mix-blend-mode: overlay;
        opacity: 0.2;
        object-fit: cover;
        height: 100%;
        width: 100%;
        filter: blur(12px);
      }
    }
  }

}
